Repository consta-design-system/charts: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write, prettier --write --parser html

chore(deps): update @consta/uikit
  README.md
  docs/charts.stories.mdx
  docs/start.stories.mdx
  package.json
  yarn.lock
Due: prettier --write

release: 0.7.0
  babel.config.js
  package.json
  scripts/generateReExportsConfig.js
  tsconfig.build.json
Due: eslint --fix, prettier --write

changelog: 0.7.0
  CHANGELOG.md
Due: prettier --write

docs: change colors to vars
  src/components/Area/__stand__/Area.image.svg
  src/components/Bar/__stand__/Bar.image.svg
  src/components/Bullet/__stand__/Bullet.image.svg
  src/components/Column/__stand__/Column.image.svg
  src/components/DualAxes/__stand__/DualAxes.image.svg
  src/components/Gauge/__stand__/Gauge.image.svg
  src/components/Histogram/__stand__/Histogram.image.svg
  src/components/Line/__stand__/Line.image.svg
  src/components/MixPlot/__stand__/MixPlot.image.svg
  src/components/Pie/__stand__/Pie.image.svg
  src/components/Radar/__stand__/Radar.image.svg
  src/components/Scatter/__stand__/Scatter.image.svg
  src/components/Waterfall/__stand__/Waterfall.image.svg
  src/docs/create/create.stand.mdx
  src/docs/create/create.stand.tsx
  src/docs/start/start.stand.mdx
  src/docs/start/start.stand.tsx
Due: eslint --fix, prettier --write, prettier --write --parser html

docs: change colors to vars (#70)
  src/components/Area/__stand__/Area.image.svg
  src/components/Bar/__stand__/Bar.image.svg
  src/components/Bullet/__stand__/Bullet.image.svg
  src/components/Column/__stand__/Column.image.svg
  src/components/DualAxes/__stand__/DualAxes.image.svg
  src/components/Gauge/__stand__/Gauge.image.svg
  src/components/Histogram/__stand__/Histogram.image.svg
  src/components/Line/__stand__/Line.image.svg
  src/components/MixPlot/__stand__/MixPlot.image.svg
  src/components/Pie/__stand__/Pie.image.svg
  src/components/Radar/__stand__/Radar.image.svg
  src/components/Scatter/__stand__/Scatter.image.svg
  src/components/Waterfall/__stand__/Waterfall.image.svg
  src/docs/create/create.stand.mdx
  src/docs/create/create.stand.tsx
  src/docs/start/start.stand.mdx
  src/docs/start/start.stand.tsx
Due: eslint --fix, prettier --write, prettier --write --parser html

chore(deps): update @consta/stand
  package.json
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Area/__stand__/Area.stand.mdx
  src/components/Bar/__stand__/Bar.stand.mdx
  src/components/Column/__stand__/Column.stand.mdx
  src/hooks/useSlider/__stand__/UseSlider.stand.mdx
  yarn.lock
Due: prettier --write

docs: edit links & readme
  README.md
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Area/__stand__/Area.stand.mdx
  src/components/Bar/__stand__/Bar.stand.mdx
  src/components/Bullet/__stand__/Bullet.stand.mdx
  src/components/Column/__stand__/Column.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.stand.mdx
  src/components/Gauge/__stand__/Gauge.stand.mdx
  src/components/Histogram/__stand__/Histogram.stand.mdx
  src/components/Line/__stand__/Line.dev.stand.mdx
  src/components/Line/__stand__/Line.stand.mdx
  src/components/Pie/__stand__/Pie.stand.mdx
  src/components/Radar/__stand__/Radar.stand.mdx
  src/components/Scatter/__stand__/Scatter.stand.mdx
  src/components/Waterfall/__stand__/Waterfall.stand.mdx
Due: prettier --write

docs: edit links & readme (#71)
  README.md
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Area/__stand__/Area.stand.mdx
  src/components/Bar/__stand__/Bar.stand.mdx
  src/components/Bullet/__stand__/Bullet.stand.mdx
  src/components/Column/__stand__/Column.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.stand.mdx
  src/components/Gauge/__stand__/Gauge.stand.mdx
  src/components/Histogram/__stand__/Histogram.stand.mdx
  src/components/Line/__stand__/Line.dev.stand.mdx
  src/components/Line/__stand__/Line.stand.mdx
  src/components/Pie/__stand__/Pie.stand.mdx
  src/components/Radar/__stand__/Radar.stand.mdx
  src/components/Scatter/__stand__/Scatter.stand.mdx
  src/components/Waterfall/__stand__/Waterfall.stand.mdx
Due: prettier --write

docs(portal): readme links, stand, version
  README.md
  package.json
  src/stand/standConfig.ts
Due: eslint --fix, prettier --write

Update yarn.lock
  yarn.lock
Due: none

docs(portal): readme links, stand, version (#72)
  README.md
  package.json
  src/stand/standConfig.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(Variants): fix colors on dark theme
  src/components/Histogram/__stand__/Histogram.variants.tsx
  src/components/Pie/__stand__/Pie.variants.tsx
Due: eslint --fix

fix(Variants): fix colors on dark theme (#73)
  src/components/Histogram/__stand__/Histogram.variants.tsx
  src/components/Pie/__stand__/Pie.variants.tsx
Due: eslint --fix

fix(Bullet): fixed label prop
  src/components/Bullet/Bullet.tsx
Due: eslint --fix

chore(deps): update consta stand
  package.json
  yarn.lock
Due: prettier --write

fix(Bullet): fixed label prop (#74)
  src/components/Bullet/Bullet.tsx
Due: eslint --fix

chore(deps): update consta stand (#75)
  package.json
  yarn.lock
Due: prettier --write

release: 0.7.1
  package.json
Due: prettier --write

changelog: 0.7.1
  CHANGELOG.md
Due: prettier --write

feat(Charts): add aliases
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.dev.stand.mdx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
  src/docs/create/create.stand.tsx
  src/hooks/useSlider/__stand__/UseSlider.stand.tsx
Due: eslint --fix, prettier --write

feat(Charts): add aliases (#76)
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.dev.stand.mdx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
  src/docs/create/create.stand.tsx
  src/hooks/useSlider/__stand__/UseSlider.stand.tsx
Due: eslint --fix, prettier --write

chore: update @consta/stand
  package.json
  yarn.lock
Due: prettier --write

docs: edit stand group
  package.json
  src/stand/standConfig.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: edit stand config
  src/stand/standConfig.ts
Due: eslint --fix

chore: configure build for windows
  README.md
  package.json
  scripts/copyAssets.js
  scripts/rm.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: configure build for windows (#77)
  README.md
  package.json
  scripts/copyAssets.js
  scripts/rm.js
  yarn.lock
Due: eslint --fix, prettier --write

release: 0.7.2
  package.json
Due: prettier --write

changelog: 0.7.2
  CHANGELOG.md
Due: prettier --write

fix(Charts): fix render for 18 react
  src/utils/createNode.ts
Due: eslint --fix

fix(Charts): fix render for 18 react (#78)
  src/utils/createNode.ts
Due: eslint --fix

release: 0.7.3
  package.json
Due: prettier --write

changelog: 0.7.3
  CHANGELOG.md
Due: prettier --write

feat(BidirectionalBar): add new chart
  src/components/BidirectionalBar/BidirectionalBar.tsx
  src/components/BidirectionalBar/__mocks__/mock.data.ts
  src/components/BidirectionalBar/__stand__/BidirectionalBar.dev.stand.mdx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.stand.mdx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.stand.tsx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.variants.tsx
  src/components/BidirectionalBar/__stand__/examples/BidirectionalBarExample/BidirectionalBarExample.tsx
  src/components/BidirectionalBar/__stand__/examples/BidirectionalBarLayoutExample/BidirectionalBarLayoutExample.tsx
  src/components/BidirectionalBar/index.ts
  src/components/BidirectionalBar/types.ts
  src/stand/standConfig.ts
  src/stand/standPageDecoration.tsx
Due: eslint --fix, prettier --write

feat(BidirectionalBar): add new chart (#79)
  src/components/BidirectionalBar/BidirectionalBar.tsx
  src/components/BidirectionalBar/__mocks__/mock.data.ts
  src/components/BidirectionalBar/__stand__/BidirectionalBar.dev.stand.mdx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.stand.mdx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.stand.tsx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.variants.tsx
  src/components/BidirectionalBar/__stand__/examples/BidirectionalBarExample/BidirectionalBarExample.tsx
  src/components/BidirectionalBar/__stand__/examples/BidirectionalBarLayoutExample/BidirectionalBarLayoutExample.tsx
  src/components/BidirectionalBar/index.ts
  src/components/BidirectionalBar/types.ts
  src/stand/standConfig.ts
  src/stand/standPageDecoration.tsx
Due: eslint --fix, prettier --write

release: 0.8.0
  package.json
Due: prettier --write

changelog: 0.8.0
  CHANGELOG.md
Due: prettier --write

chore(Charts): update g2plot version
  package.json
  src/hooks/useSlider/useSlider.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(Charts): update g2plot version (#81)
  package.json
  src/hooks/useSlider/useSlider.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: edit deploy config and codeowners
  .github/CODEOWNERS
  .github/workflows/deploy.yml
Due: none

Path conditions:
  stylelint ./src/**/*.css --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,mdx}
  prettier --write --parser html: any of: *.svg
