Repository consta-design-system/charts: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write, prettier --write --parser html

.lintstagedrc.json:

{
  "*.css": ["stylelint ./src/**/*.css --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.svg": ["prettier --write --parser html"]
}

chore: edit deploy config and codeowners (#83)
  .github/CODEOWNERS
  .github/workflows/deploy.yml
Due: none

docs(DualAxed): fix variants
  src/components/DualAxes/__stand__/DualAxes.variants.tsx
Due: eslint --fix

docs(DualAxed): fix variants (#85)
  src/components/DualAxes/__stand__/DualAxes.variants.tsx
Due: eslint --fix

chore(utils): added status classNames
  src/utils/bem.ts
Due: eslint --fix

chore(utils): added status classNames (#87)
  src/utils/bem.ts
Due: eslint --fix

docs(BidirectionalBar): add image for stand
  src/components/BidirectionalBar/__stand__/BidirectionalBar.image.svg
Due: prettier --write --parser html

docs(BidirectionalBar): add image for stand (#88)
  src/components/BidirectionalBar/__stand__/BidirectionalBar.image.svg
Due: prettier --write --parser html

chore: update uikit version
  package.json
  src/components/Pie/__stand__/Pie.dev.stand.mdx
  src/components/Pie/__stand__/examples/PieExample/PieExample.tsx
  src/stand/components/RemadeInfo/RemadeInfo.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: update uikit version (#89)
  package.json
  src/components/Pie/__stand__/Pie.dev.stand.mdx
  src/components/Pie/__stand__/examples/PieExample/PieExample.tsx
  src/stand/components/RemadeInfo/RemadeInfo.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): update
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  package.json
  yarn.lock
Due: prettier --write

release: 1.0.0
  package.json
Due: prettier --write

changelog: 1.0.0
  CHANGELOG.md
Due: prettier --write

fix deps
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: prettier --write

docs: replace informers
  src/components/Bar/__stand__/Bar.dev.stand.mdx
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/Pie/__stand__/Pie.dev.stand.mdx
Due: prettier --write

fix deps
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

update deps
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

update deps
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  yarn.lock
Due: none

docs: replace informers (#94)
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .husky/prepare-commit-msg
  package.json
  src/components/Bar/__stand__/Bar.dev.stand.mdx
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/Pie/__stand__/Pie.dev.stand.mdx
  yarn.lock
Due: prettier --write

fix: React 19 compatibility in createNode utility
  src/utils/createNode.ts
Due: eslint --fix

docs(Area): implementation of editorial policy
  src/components/Area/__stand__/Area.dev.stand.mdx
Due: prettier --write

docs(Bar): implementation of editorial policy
  src/components/Bar/__stand__/Bar.dev.stand.mdx
Due: prettier --write

Update Area.dev.stand.mdx
  src/components/Area/__stand__/Area.dev.stand.mdx
Due: prettier --write

Revert "Update Area.dev.stand.mdx"
  src/components/Area/__stand__/Area.dev.stand.mdx
Due: prettier --write

chore: update ts
  package.json
  scripts/copy.js
  src/components/Area/types.ts
  src/components/Bar/types.ts
  src/components/BidirectionalBar/types.ts
  src/components/Bullet/Bullet.tsx
  src/components/Column/types.ts
  src/components/DualAxes/types.ts
  src/components/Gauge/Gauge.tsx
  src/components/Histogram/Histogram.tsx
  src/components/Line/types.ts
  src/components/MixPlot/types.ts
  src/components/Pie/types.ts
  src/components/Radar/Radar.tsx
  src/components/Scatter/Scatter.tsx
  src/components/Waterfall/Waterfall.tsx
  src/docs/create/create.stand.mdx
  src/hooks/useSlider/__stand__/UseSlider.dev.stand.mdx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update ts (#99)
  package.json
  scripts/copy.js
  src/components/Area/types.ts
  src/components/Bar/types.ts
  src/components/BidirectionalBar/types.ts
  src/components/Bullet/Bullet.tsx
  src/components/Column/types.ts
  src/components/DualAxes/types.ts
  src/components/Gauge/Gauge.tsx
  src/components/Histogram/Histogram.tsx
  src/components/Line/types.ts
  src/components/MixPlot/types.ts
  src/components/Pie/types.ts
  src/components/Radar/Radar.tsx
  src/components/Scatter/Scatter.tsx
  src/components/Waterfall/Waterfall.tsx
  src/docs/create/create.stand.mdx
  src/hooks/useSlider/__stand__/UseSlider.dev.stand.mdx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

docs(BidirectionalBar): implementation of editorial policy
  src/components/BidirectionalBar/__stand__/BidirectionalBar.dev.stand.mdx
Due: prettier --write

docs(Bullet): implementation of editorial policy
  src/components/Bullet/__stand__/Bullet.dev.stand.mdx
Due: prettier --write

docs(Column): implementation of editorial policy
  src/components/Column/__stand__/Column.dev.stand.mdx
Due: prettier --write

docs(DualAxes): implementation of editorial policy
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
Due: prettier --write

docs(Gauge): implementation of editorial policy
  src/components/Gauge/__stand__/Gauge.dev.stand.mdx
Due: prettier --write

Update GaugeExampleStatistic.tsx
  src/components/Gauge/__stand__/examples/GaugeExampleStatistic/GaugeExampleStatistic.tsx
Due: eslint --fix

docs(Histogram): implementation of editorial policy
  src/components/Histogram/__stand__/Histogram.dev.stand.mdx
Due: prettier --write

docs(Line): implementation of editorial policy
  src/components/Line/__stand__/Line.dev.stand.mdx
Due: prettier --write

docs(MixPlot): implementation of editorial policy
  src/components/MixPlot/__stand__/MixPlot.dev.stand.mdx
Due: prettier --write

docs(Pie): implementation of editorial policy
  src/components/Pie/__stand__/Pie.dev.stand.mdx
Due: prettier --write

docs(Radar): implementation of editorial policy
  src/components/Radar/__stand__/Radar.dev.stand.mdx
Due: prettier --write

docs(Scatter): implementation of editorial policy
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
  src/components/Scatter/__stand__/Scatter.stand.mdx
Due: prettier --write

Update Scatter.dev.stand.mdx
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
Due: prettier --write

docs(Waterfall): implementation of editorial policy
  src/components/Waterfall/__stand__/Waterfall.dev.stand.mdx
Due: prettier --write
