Repository consta-design-system/charts: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write, prettier --write --parser html

.lintstagedrc.json:

{
  "*.css": ["stylelint ./src/**/*.css --fix"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,mdx}": ["prettier --write"],
  "*.svg": ["prettier --write --parser html"]
}

docs(Area): implementation of editorial policy (#97)
  src/components/Area/__stand__/Area.dev.stand.mdx
Due: prettier --write

docs(BidirectionalBar): implementation of editorial policy (#100)
  src/components/BidirectionalBar/__stand__/BidirectionalBar.dev.stand.mdx
Due: prettier --write

docs(Bullet): implementation of editorial policy (#101)
  src/components/Bullet/__stand__/Bullet.dev.stand.mdx
Due: prettier --write

fix
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/Column/__stand__/examples/ColumnExample/ColumnExample.tsx
Due: eslint --fix, prettier --write

docs(DualAxes): implementation of editorial policy (#103)
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
Due: prettier --write

docs(Gauge): implementation of editorial policy (#104)
  src/components/Gauge/__stand__/Gauge.dev.stand.mdx
  src/components/Gauge/__stand__/examples/GaugeExampleStatistic/GaugeExampleStatistic.tsx
Due: eslint --fix, prettier --write

docs(Histogram): implementation of editorial policy (#105)
  src/components/Histogram/__stand__/Histogram.dev.stand.mdx
Due: prettier --write

docs(Line): implementation of editorial policy (#106)
  src/components/Line/__stand__/Line.dev.stand.mdx
Due: prettier --write

docs(MixPlot): implementation of editorial policy (#107)
  src/components/MixPlot/__stand__/MixPlot.dev.stand.mdx
Due: prettier --write

docs(Column): implementation of editorial policy (#102)
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/Column/__stand__/examples/ColumnExample/ColumnExample.tsx
Due: eslint --fix, prettier --write

docs(Pie): implementation of editorial policy (#108)
  src/components/Pie/__stand__/Pie.dev.stand.mdx
Due: prettier --write

docs(Radar): implementation of editorial policy (#109)
  src/components/Radar/__stand__/Radar.dev.stand.mdx
Due: prettier --write

fix
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
  src/components/Scatter/__stand__/examples/ScatterExample/ScatterExample.tsx
Due: eslint --fix, prettier --write

docs(Scatter): implementation of editorial policy (#110)
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
  src/components/Scatter/__stand__/Scatter.stand.mdx
  src/components/Scatter/__stand__/examples/ScatterExample/ScatterExample.tsx
Due: eslint --fix, prettier --write

docs(Waterfall): implementation of editorial policy (#111)
  src/components/Waterfall/__stand__/Waterfall.dev.stand.mdx
Due: prettier --write

fix
  src/components/Bar/__stand__/Bar.dev.stand.mdx
Due: prettier --write

docs(Bar): implementation of editorial policy (#98)
  src/components/Bar/__stand__/Bar.dev.stand.mdx
Due: prettier --write

chore: update deps
  .github/workflows/tests.yml
  .stylelintrc.js
  package.json
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Bar/__stand__/Bar.dev.stand.mdx
  src/components/Bar/__stand__/Bar.stand.mdx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.dev.stand.mdx
  src/components/Bullet/__stand__/Bullet.dev.stand.mdx
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
  src/components/Gauge/__stand__/Gauge.dev.stand.mdx
  src/components/Histogram/__stand__/Histogram.dev.stand.mdx
  src/components/Line/__stand__/Line.dev.stand.mdx
  src/components/MixPlot/__stand__/MixPlot.dev.stand.mdx
  src/components/Pie/__stand__/Pie.dev.stand.mdx
  src/components/Radar/__stand__/Radar.dev.stand.mdx
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
  src/components/Waterfall/__stand__/Waterfall.dev.stand.mdx
  src/hooks/useSlider/UseSlider.css
  src/hooks/useSlider/__stand__/UseSlider.dev.stand.mdx
  src/stand/components/RemadeInfo/RemadeInfo.css
  src/stand/components/RemadeInfo/RemadeInfo.tsx
  yarn.lock
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

fix
  .stylelintrc.js
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Bar/__stand__/Bar.dev.stand.mdx
  src/components/Bar/__stand__/Bar.stand.mdx
  src/components/BidirectionalBar/__stand__/BidirectionalBar.dev.stand.mdx
  src/components/Bullet/__stand__/Bullet.dev.stand.mdx
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
  src/components/Gauge/__stand__/Gauge.dev.stand.mdx
  src/components/Histogram/__stand__/Histogram.dev.stand.mdx
  src/components/Line/__stand__/Line.dev.stand.mdx
  src/components/MixPlot/__stand__/MixPlot.dev.stand.mdx
  src/components/Pie/__stand__/Pie.dev.stand.mdx
  src/components/Radar/__stand__/Radar.dev.stand.mdx
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
  src/components/Waterfall/__stand__/Waterfall.dev.stand.mdx
  src/hooks/useSlider/__stand__/UseSlider.dev.stand.mdx
  src/stand/bem.ts
  src/stand/components/RemadeInfo/RemadeInfo.css
  src/stand/components/RemadeInfo/RemadeInfo.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

chore: update deps (#112)
  .github/workflows/tests.yml
  .stylelintrc.js
  package.json
  src/hooks/useSlider/UseSlider.css
  src/stand/bem.ts
  src/stand/components/RemadeInfo/RemadeInfo.css
  yarn.lock
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

chore(deps): remove unused `react-test-renderer`, `typescript-eslint-parser`
  package.json
  yarn.lock
Due: prettier --write
